.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-top: 0;
  flex-basis: calc((100% - 3 * 20px) / 3);
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
}

.image {
  width: 100px;
  border: rgba(210, 30, 30, 0.124) solid 2px;
  border-radius: 2px;
  padding: 0;
  margin: 0;
}
