.inactive {
  color: black;
  text-decoration: none;
}

.active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.inactive:hover,
.active:focus {
  color: rgb(243, 53, 94);
  cursor: pointer;
}
